{% extends 'backoffice/layout.html.twig' %}
{% block suite_title %}liste des modules{% endblock %}
{% block suite_stylesheets %}<link href="{{ asset('css/listes.css') }}" rel="stylesheet">{% endblock %}
{% block suite_body %}
<div class="list_backoffice">
    <h1>Liste des modules</h1>
    <a href="{{path("back-modules-add")}}" type="button" class="btn btn-outline-light" id="add">Ajouter un module <i class="fas fa-plus"></i></i></a>
    <table class="table table-striped table-dark table_list_backoffice">
        <thead>
            <tr class="description">
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Semestre</th>
                <th scope="col">Années</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
                <tr>
                    <td scope="row">{{module.id}}</td>
                    <td>{{module.name}}</td>
                    <td>{{module.semester}}</td>
                    <td>{{module.campain}}</td>
                    <td>
                        <a href="{{path("back-modules-edit", {"id":module.id})}}" type="button" class="btn btn-outline-light">Éditer <i class="fas fa-edit"></i></a>
                        <a href="{{path("back-modules-delete", {"id":module.id})}}" type="button" class="btn btn-outline-danger">Supprimer <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}