{% extends 'backoffice/layout.html.twig' %}
{% block suite_title %}liste des professeurs{% endblock %}
{% block suite_stylesheets %}<link href="{{ asset('css/listes.css') }}" rel="stylesheet">{% endblock %}
{% block suite_body %}
<h1>Liste des professeurs</h1>
<a href="{{path("back-teacher-add")}}" type="button" class="btn btn-outline-light" id="add">Ajouter un professeur <i class="fas fa-plus"></i></i></a>
<ul class="list-group">
{% for teacher in teachers %}
<li class="list-group-item bg-dark text-light">
<span># {{teacher.id}} | </span>
<span>Nom :  {{teacher.name}}</span>
<a href="{{path("back-teacher-edit", {"id":teacher.id})}}" type="button" class="btn btn-outline-light">Éditer <i class="fas fa-edit"></i></a>
<a href="{{path("back-teacher-delete", {"id":teacher.id})}}" type="button" class="btn btn-outline-danger">Supprimer <i class="fas fa-trash-alt"></i></a>
</li>
{% endfor %}
</ul>
{% endblock %}