{% extends 'backoffice/layout.html.twig' %}
{% block suite_title %}liste des professeurs{% endblock %}
{% block suite_stylesheets %}<link href="{{ asset('css/listes.css') }}" rel="stylesheet">{% endblock %}
{% block suite_body %}
<div class="list_backoffice">
    <h1>Liste des professeurs</h1>
    <a href="{{path("back-teacher-add")}}" type="button" class="btn btn-outline-light" id="add">Ajouter un professeur <i class="fas fa-plus"></i></i></a>
    <table class="table table-striped table-dark table_list_backoffice">
        <thead>
            <tr class="description">
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Devoirs</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td>{{teacher.id}}</td>
                    <td>{{teacher.name}}</td>
                    <td> <button class="btn btn-outline-primary btn_task_teacher" data-teacher="{{ teacher.name }}">Voir les devoirs attribués</div> </td>
                    <td>
                        <a href="{{path("back-teacher-edit", {"id":teacher.id})}}" type="button" class="btn btn-outline-light">Éditer <i class="fas fa-edit"></i></a>
                        <a href="{{path("back-teacher-delete", {"id":teacher.id})}}" type="button" class="btn btn-outline-danger">Supprimer <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascripts %}
    <script>
    window.addEventListener('DOMContentLoaded', function(){
        var btn_task_teacher = document.querySelectorAll('.btn_task_teacher');

        btn_task_teacher.forEach(e => {
            e.addEventListener('click', e => {
                
                var name_ens = e.target.getAttribute('data-teacher');
                var verif = false;
                var texte = "";
                {% for task in tasks %}
                    if("{{ task.teacher.name}}" == name_ens) {  
                        verif = true;                      
                        texte += "{{ task.description }}, " ;
                    }
                {% endfor %}
                if(verif == true) {
                    alert(texte);
                }
            })
        })
    });
    </script>
{% endblock %}
