{% extends 'backoffice/layout.html.twig' %}
{% block suite_stylesheets %}<link href="{{ asset('css/listes.css') }}" rel="stylesheet">{% endblock %}
{% block suite_body %}
    <div class="form_backoffice">
        <h1>Edition d'un devoir</h1>
        {{form_start(formTask)}}
        {{form_errors(formTask)}}
        {{form_widget(formTask)}}
        <button class="btn btn-secondary">Enregistrer le devoir</button>
        {{form_end(formTask)}}
    </div>
{% endblock %}