{% extends 'backoffice/layout.html.twig' %}
{% block suite_title %}liste des taches{% endblock %}
{% block suite_stylesheets %}<link href="{{ asset('css/listes.css') }}" rel="stylesheet">{% endblock %}
{% block suite_body %}
<div class="list_backoffice">
    <h1>Liste des devoir</h1>
    <a href="{{path("back-task-add")}}" type="button" class="btn btn-outline-light" id="add">Ajouter un devoir <i class="fas fa-plus"></i></i></a>
    <table class="table table-striped table-dark table_list_backoffice">
        <thead>
            <tr class="description">
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">Professeur</th>
                <th scope="col">Deadline</th>
                <th scope="col">Visible</th>
                <th scope="col">Module</th>
                <th scope="col">Groupes</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{task.id}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.teacher}}</td>
                    <td>{{task.deadline | date("d/m/Y")}}</td>
                    <td>{{task.visible}}</td>
                    <td>{{task.module}}</td>
                    <td>
                    {% set a = 0 %}
                    {% for group in task.groupes %}
                        {% set a = a + 1 %}
                        {{group.name}}
                        {% if a != task.groupes|length %}
                            ,
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td>
                        <a href="{{path("back-task-edit", {"id":task.id})}}" type="button" class="btn btn-outline-light">Éditer <i class="fas fa-edit"></i></a>
                        <a href="{{path("back-task-delete", {"id":task.id})}}" type="button" class="btn btn-outline-danger">Supprimer <i class="fas fa-trash-alt"></i></a>
                    </td>
               </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}