{% extends 'backoffice/layout.html.twig' %}
{% block suite_title %}liste des taches{% endblock %}
{% block suite_stylesheets %}<link href="{{ asset('css/listes.css') }}" rel="stylesheet">{% endblock %}
{% block suite_body %}
<h1>Liste des devoir</h1>
<a href="{{path("back-task-add")}}" type="button" class="btn btn-outline-light" id="add">Ajouter un devoir <i class="fas fa-plus"></i></i></a>
<ul class="list-group">
{% for task in tasks %}
<li class="list-group-item bg-dark text-light">
<span># {{task.id}} | </span>
<span>Description :  {{task.description}} | </span>
<span>Teacher :  {{task.teacher}} | </span>
<span>Deadline :  {{task.deadline | date("d/m/Y")}} | </span>
<span>Visible :  {{task.visible}} | </span>
<span>Module :  {{task.module}} | </span>
<span>Groupes : 
{% for group in task.groupes %}
<span>{{group.name}},</span>
{% endfor %}
</span>
<a href="{{path("back-task-edit", {"id":task.id})}}" type="button" class="btn btn-outline-light">Éditer <i class="fas fa-edit"></i></a>
<a href="{{path("back-task-delete", {"id":task.id})}}" type="button" class="btn btn-outline-danger">Supprimer <i class="fas fa-trash-alt"></i></a>
</li>
{% endfor %}
</ul>
{% endblock %}