{% extends 'backoffice/layout.html.twig' %}
{% block suite_title %}liste des liens{% endblock %}
{% block suite_stylesheets %}<link href="{{ asset('css/listes.css') }}" rel="stylesheet">{% endblock %}
{% block suite_body %}
<div class="list_backoffice">
<h1>Liste des liens</h1>
<a href="{{path("back-liens-add")}}" type="button" class="btn btn-outline-light" id="add">Ajouter un lien <i class="fas fa-plus"></i></i></a>
    <table class="table table-striped table-dark table_list_backoffice">
        <thead>
            <tr class="description">
                <th scope="col">#</th>
                <th scope="col">TP</th>
                <th scope="col">TD</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for lien in liens %}
                <tr>
                    <td scope="row">{{lien.id}}</td>
                    <td>{{lien.tp.name}}</td>
                    <td>{{lien.td.name}}</td>
                    <td>
                        <a href="{{path("back-liens-edit", {"id":lien.id})}}" type="button" class="btn btn-outline-light">Éditer <i class="fas fa-edit"></i></a>
                        <a href="{{path("back-liens-delete", {"id":lien.id})}}" type="button" class="btn btn-outline-danger">Supprimer <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}