{% extends 'backoffice/layout.html.twig' %}
{% block suite_stylesheets %}<link href="{{ asset('css/listes.css') }}" rel="stylesheet">{% endblock %}
{% block suite_body %}
<div class="form_backoffice">
    <h1>Édition d'un utilisateur</h1>
    {{form_start(formUser)}}
    {{form_errors(formUser)}}
    {{form_widget(formUser)}}
    <button class="btn btn-secondary">Enregistrer les modification</button>
    {{form_end(formUser)}}
</div>
{% endblock %}