{% extends 'base.html.twig' %}

{% block title %}Les devoirs{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/agenda.css') }}" rel="stylesheet">
    <link href="{{ asset('fullcalendar/lib/main.css') }}" rel='stylesheet' />
{% endblock %}
{% block body %}
<section class="tableau_devoir">
    <div class="btn-group btn-group-toggle mt-2 mb-3" data-toggle="buttons">
            <button class="btn btn-secondary active" id="btn-all"> Tous </button> 
            <button class="btn btn-secondary" id="btn-tp"> TP </button>  
            <button class="btn btn-secondary" id="btn-td"> TD </button> 
            <button class="btn btn-secondary" id="btn-cm"> CM </button>
    </div>
    <div class="alert alert-warning text-center" role="alert" style="display:none" id="alert_task">
        <h1>Vos devoirs à rendre dans les prochains jours</h1>
    </div>
    {#
    {% for group in groups %}
        {% for task in group.0.tasks %}
            {% if task.date|date('Y/m/d') == %}
            <div class="alert alert-warning" role="alert">
                This is a warning alert—check it out!
        {% endfor %}   
    {% endfor %}
    #}

    <div id='calendar'></div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('fullcalendar/lib/main.js') }}"></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        // Nombre de jours restant 
        function fctnJourrestant(today, task) {
            // Conversion date du jour
            let date1 = new Date(today);
            let date2 = new Date(task);
            let diffTemps = date2.getTime() - date1.getTime();
            let diff_jours = diffTemps / (1000 * 3600 * 24);
            return diff_jours;
        }

        // Date du jour
        var ladate=new Date()
        var jour = ladate.toISOString();
        jour = jour.substring(0,10);

        // Liste des devoirs 
        var devoirs = [];
        {% for group in groups %}
            {% for task in group.0.tasks %}   
                if ("{{ task.visible}}" == 1 ) {
                let couleur = "background-color: #3788d8";
                var jourrestant = fctnJourrestant(jour, '{{task.deadline|date("Y-m-d")}}');
                console.log(jourrestant)
                if(jourrestant <= 0) {
                    couleur = "red";
                }
                var titre = "{{ group.0.name }} - {{ task.description }} - {{ task.module.name }} - {{ task.teacher.name }}";
               devoirs.push({
                   title: titre,
                   start: '{{task.deadline|date("Y-m-d")}}',
                   color: couleur
               });
                }
            {% endfor %}
        {% endfor %}


        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            // handleWindowResize: true,
            height: 700,
            eventClick: function(info) {
                alert(info.event.title);
            },
            initialDate: jour,
            dayMaxEvents: true,
            selectable: true,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },

            events: devoirs
        });
        calendar.render();


    const all = document.getElementById('btn-all');
    const tp = document.getElementById('btn-tp');
    const td = document.getElementById('btn-td');
    const cm = document.getElementById('btn-cm');

    all.addEventListener('click', function () {calendarRender('all')});
    tp.addEventListener('click', function () {calendarRender('TP')});
    td.addEventListener('click', function () {calendarRender('TD')});
    cm.addEventListener('click', function () {calendarRender('CM')});

    function calendarRender(grp){
        console.log(grp)
        // Date du jour
        var ladate=new Date()
        var jour = ladate.toISOString();
        jour = jour.substring(0,10);

        // Liste des devoirs 
        var devoirs = [];
        if(grp == 'all'){
        {% for group in groups %}
            {% for task in group.0.tasks %}   
                if ("{{ task.visible}}" == 1 ) {
                let couleur = "background-color: #3788d8";
                var jourrestant = fctnJourrestant(jour, '{{task.deadline|date("Y-m-d")}}');
                console.log(jourrestant)
                if(jourrestant <= 0) {
                    couleur = "red";
                }
                var titre = "{{ group.0.name }} - {{ task.description }} - {{ task.module.name }} - {{ task.teacher.name }}";
               devoirs.push({
                   title: titre,
                   start: '{{task.deadline|date("Y-m-d")}}',
                   color: couleur
               });

                }
            {% endfor %}
        {% endfor %}
        }else{
        {% for group in groups %}
            if('{{group.0.type}}' == grp){
            {% for task in group.0.tasks %}   
                if ("{{ task.visible}}" == 1 ) {
                let couleur = "background-color: #3788d8";
                var jourrestant = fctnJourrestant(jour, '{{task.deadline|date("Y-m-d")}}');
                console.log(jourrestant)
                if(jourrestant <= 0) {
                    couleur = "red";
                }
                var titre = "{{ group.0.name }} - {{ task.description }} - {{ task.module.name }} - {{ task.teacher.name }}";
               devoirs.push({
                   title: titre,
                   start: '{{task.deadline|date("Y-m-d")}}',
                   color: couleur
               });
                }
            {% endfor %}
            }
        {% endfor %}
        }


        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            // handleWindowResize: true,
            height: 700,
            eventClick: function(info) {
                alert(info.event.title);
            },
            initialDate: jour,
            dayMaxEvents: true,
            selectable: true,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },

            events: devoirs
        });
        calendar.render();
    }

    // Création des notifications des prochains devoirs à rendre
    var devoirarendrevite = [];
    {% for group in groups %}
        {% for task in group.0.tasks %}   
            if ("{{ task.visible}}" == 1 ) {
                if(jour<'{{task.deadline|date("Y-m-d")}}') {
                    var jourrestant = fctnJourrestant(jour, '{{task.deadline|date("Y-m-d")}}');
                    if(jourrestant >=0 && jourrestant <= 7 ) {
                        devoirarendrevite.push('{{ task.description }} est à rendre dans ' + jourrestant + " jours");
                    }
                }
            }
        {% endfor %}
    {% endfor %}
    
    if(devoirarendrevite != []) {
        var alert_task = document.getElementById('alert_task');
        alert_task.style.display = "block";
        alert_task.innerHTML += "<ul>";
        for(var b = 0; b<devoirarendrevite.length; b++) {
            alert_task.innerHTML += "<li>" + devoirarendrevite[b] + "</li>";
        }
        alert_task.innerHTML += "</ul>";
    }

});
    </script>
{% endblock %}