{% extends 'base.html.twig' %}

{% block title %}Les devoirs{% endblock %}
{% block stylesheets %}<link href="{{ asset('css/agenda.css') }}" rel="stylesheet">{% endblock %}
{% block body %}
<section class="devoir">
<table>
{% for group in groups %}
    <thead>
    <tr>
    <th colspan="4" id="grp">{{ group.0.name }}</th>
    </tr>
    <tr class="description">
    <th>Travail</th>
    <th>Matière</th>
    <th>Pour le</th>
    <th>Professeur</th>
    </tr>
    </thead>
    <tbody>
    {% for task in group.0.tasks %}
        <tr>
        <td>{{ task.description }}</td>
        <td>{{task.module.name}}</td>
        <td>{{ task.deadline|date("m/d/Y")}}</td>
        <td>{{ task.teacher.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endfor %}
</table>
</section>
{% endblock %}
