{% extends 'base.html.twig' %}

{% block title %}Les devoirs{% endblock %}
{% block stylesheets %}<link href="{{ asset('css/agenda.css') }}" rel="stylesheet">{% endblock %}
{% block body %}
<section class="devoir">
{% for group in groups %}
    <h1>{{ group.0.name }}</h1>
    <ul class="list-unstyled">
    {% for task in group.0.tasks %}
        <li><span>{{ task.description }}</span><span>{{task.module.name}}</span><span>{{ task.deadline|date("m/d/Y")}}</span><span>{{ task.teacher.name }}</span></li>
    {% endfor %}
    </ul>
{% endfor %}
</section>
{% endblock %}
