<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TiMMIng - {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/4020e9bdd2.js" crossorigin="anonymous"></script>
        <style>
        * {
            box-sizing: border-box;
        }

        html {
            height: 100%;
        }

        body {
            padding-top:5rem;
            height: 100%;
            background-color: rgb(20, 20, 20);
            color: white;
        }

        header a:last-child:hover {
            color: white;
        }


        </style>
    </head>
    <body>
    <header class="navbar navbar-dark bg-dark fixed-top" role="navigation">
    <a class="navbar-brand d-flex align-items-center justify-content-around" href="{{ path('front-index') }}">
        <img src="{{ asset('img/logo.png') }}" alt="logo timming" width="50" height="50" class="d-inline-block align-top">
        <span class="ml-3">TiMMIng</span>
    </a>
    {% set verif = false %}
    {% if app.user != "" %}
        {% for role in app.user.roles %}
            {% if role == "ROLE_ADMIN" and verif == false %}
                {# Affichage de tous les boutons pour le super admin #}
                <nav>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link navbar-text" href="{{ path('back-task') }}">Les devoirs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-text" href="{{ path('back-group') }}">Les groupes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-text" href="{{ path('back-liens') }}">Les liens</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-text" href="{{ path('back-modules') }}">Les modules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-text" href="{{ path('back-teacher') }}">Les profs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-text" href="{{ path('back-user') }}">Les admins</a>
                        </li>
                    </ul>
                </nav>
                <a class="nav-link navbar-text h4" href="{{ path('app_logout') }}">Déconnexion <i class="fas fa-sign-out-alt"></i></a>

                {% set verif = true %}
            {% elseif role == "ROLE_WRITER" and verif == false %}
                {# Affichage de tous les boutons pour l'admin writer #}
                <nav>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link navbar-text" href="{{ path('back-task') }}">Les devoirs</a>
                        </li>
                    </ul>
                </nav>
                <a class="nav-link navbar-text h4" href="{{ path('app_logout') }}">Déconnexion <i class="fas fa-sign-out-alt"></i></a>
                
                {% set verif = true %}
            {% endif %}
        {% endfor %}
    {% else %}
        <a class="nav-link navbar-text h4" href="{{ path('app_login') }}">Connexion <i class="fas fa-sign-in-alt"></i></a>
    {% endif %}
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
