{% extends 'backoffice/layout.html.twig' %}
{% block suite_stylesheets %}<link href="{{ asset('css/listes.css') }}" rel="stylesheet">{% endblock %}
{% block suite_body %}
<div class="form_backoffice">
    <h1>Edition d'un groupe</h1>
    {{form_start(formGroup)}}
    {{form_errors(formGroup)}}
    {{form_widget(formGroup)}}
    <button class="btn btn-secondary">Enregistrer le groupe</button>
    {{form_end(formGroup)}}
</div>
{% endblock %}